TINYFISH_API_KEY=
INVOICEPLANE_BASE_URL=https://demo.invoiceplane.com
INVOICEPLANE_USERNAME=guest@invoiceplane.com
INVOICEPLANE_PASSWORD=demopassword
INVOICEPLANE_INVOICES_PATH=/invoices/index
INVOICEPLANE_RESULT_LIMIT=5
PORTAL_OPS_HOST=127.0.0.1
PORTAL_OPS_PORT=3010
